<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ListOfAll</title>
</head>
<body>
<a th:href="@{/users/new}">New User</a>
<div>
    <h2>Users</h2>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.surname}"></td>
            <td><a th:href="@{/users/{id}/edit(id=${user.getId()})}">Edit</a></td>
            <td><a th:href="@{/users/delete/{id}(id=${user.getId()})}">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>